* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  box-shadow: 1px 5px 4px #80808085;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

ul > li{
  transition: .3s all ease-in-out;
  cursor: pointer;
}

#links > li:hover {
  color: rgb(5, 167, 167);
}

i {
  color: rgb(5, 167, 167);
}

i:hover {
  color: rgb(0, 255, 255);
}