#review-container {
  width: 40rem;
  background-color: red;
  padding: 2rem;
  text-align: center;

}

#review-container > img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

button {
  display: block;
  margin: 1rem auto;
}

span {
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 20px;
  background-color: wheat;
}